#%Module 1.0
#
#  CI module for use with 'environment-modules' package:
#
setenv        SOFT_DIR               /data/ci-build/$::env(SITE)/$::env(OS)/$::env(ARCH)/$::env(NAME)/$::env(VERSION)
setenv        REPO_DIR               /data/artefacts/$::env(SITE)/$::env(OS)/$::env(ARCH)/$::env(NAME)/$::env(VERSION)
setenv        SRC_DIR                /data/src/$::env(NAME)/$::env(VERSION)

set               MODULES                                    /data/modules
{% for module in module_domains %}
setenv        {{ module | upper }}                      $MODULES/{{ module }}
{% endfor %}

{% for module in module_domains %}
prepend-path  MODULEPATH             $::env({{ module | upper }})
{% endfor %}
