#%Module 1.0
#
#  CI module for use with 'environment-modules' package:
#
setenv        CVMFS_DIR   /cvmfs/code-rade.africa-grid.org
setenv 	      DEPLOY_DIR  $::env(CVMFS_DIR)/$::env(SITE)/$::env(OS)/$::env(ARCH)/$::env(NAME)/$::env(VERSION)
setenv        REPO_DIR      $::env(CVMFS_DIR)/$::env(SITE)/$::env(OS)/$::env(ARCH)/$::env(NAME)/$::env(VERSION)
setenv        SRC_DIR        /data/src/$::env(NAME)/$::env(VERSION)
setenv        SOFT_DIR     $::env(CVMFS_DIR)/$::env(SITE)/$::env(OS)/$::env(ARCH)/$::env(NAME)/$::env(VERSION)

set               MODULES                                    $::env(CVMFS_DIR)/modules
{% for module in module_domains %}
setenv        {{ module | upper }}                      $MODULES/{{ module }}
{% endfor %}

{% for module in module_domains %}
prepend-path  MODULEPATH             $::env({{ module | upper }})
{% endfor %}
